<div id="login-container">
  <h3 id="login-title">Login</h3>
  <form id="login">
    <label id="email-label" for="email">Email</label>
    <input type="text" name="email" id="email"><br>
    <label id="password-label" for="password">Password</label>
    <input type="password" id="password">
 <label id="panelLogin" style="color:brown" for="panel"></label>
 <br>
    <input id="login-button" type="submit">
  </form>
  <button hidden><a href="/api/github">Acceder con GitHub</a></button>
  <p id="register-link">¿Aún no estás registrado? <a href="/register">Regístrate aquí</a></p>
  <p id="register-link"><a href="/reset-password">¿Haz olvidado tu password?</a></p>
</div>
<script src="/js/login.js"></script>