<div id="register-container" class="form-container">
  <h3 id="register-title" class="form-title">Register</h3>
  <form id="register">
    <label id="first-name-label" for="first-name" class="form-label">First Name</label>
    <input type="text" name="first-name" id="first-name" class="form-input"><br>
    <label id="last-name-label" for="last-name" class="form-label">Last Name</label>
    <input type="text" name="last-name" id="last-name" class="form-input"><br>
    <label id="email-label" for="email" class="form-label">Email</label>
    <input type="text" name="email" id="email" class="form-input"><br>
    <label id="password-label" for="password" class="form-label">Password</label>
    <input type="password" id="password" class="form-input">
    <input id="register-button" type="submit" class="form-button">
  </form>
  <p id="login-link" class="form-link">¿ya estas registrado? <a href="/login">accede aquí</a></p>
</div>
<script src="/js/register.js"></script>