<div id="login-container">
  <h3 id="login-title">Reset password</h3>
  <form id="login">
    <label id="email-label" for="email">Email</label>
    <input type="text" name="email" id="email"><br>
 <label id="panelLogin" style="color:brown" for="panel"></label>
 <br>
    <input id="login-button" type="submit">
  </form>
</div>
<script src="/js/resetPassword.js"></script>