<div id="login-container">
  <h3 id="login-title">Reset password</h3>
  <form id="login">
    <label id="email-label" for="email">New password</label>
    <input type="password" name="password" id="password"><br>
        <label id="email-label" for="email">New password Confirm</label>
    <input type="password" name="passwordConfirm" id="passwordConfirm"><br>
 <label id="panelLogin" style="color:brown" for="panel"></label>
 <br>
    <input id="login-button" type="submit">
  </form>
</div>
<script src="/js/setNewPasswordReset.js"></script>