  h1 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      color: #333;
      margin-bottom: 2rem;
  }

a{
  text-decoration: none;
}

a:hover{
  color: white;
}

  .box {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
  }

  .product {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: all 0.3s ease;
      width: 20%;
      margin-bottom: 1rem;
      text-align: center;
      height: auto;
  }


  .product:hover {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
  }

  .product p {
      margin: 0;
      padding: 0.5rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #555;
  }

  .product p.title {
      font-weight: bold;
      font-size: 1.5rem;
      color: #333;
      margin-bottom: 0.5rem;
  }

  .product p.price {
      font-weight: bold;
      font-size: 1.3rem;
      color: #008080;
  }

  .product img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center;
  }

  .formulario {
      max-width: 80%;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-align: center; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
    }

    .formulario input{
      align-items: center;
      display: block;

    }

    .btn-delete {
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .btn-delete:hover {
      background-color: #ff3333;
    }
  /* Estilos para el contenedor principal del chat */

  .chatBox{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .chatGeneral{
    height: 70%;
    overflow-y: auto;
    background-color: #333;
  }

    
    /* Estilos para el encabezado del chat */
    .chatGeneral h1 {
      margin: 0;
      padding: 10px;
      background-color: #ab63d4;
 
      color:#ffffff;
      font-size: 24px;
      text-align: center;

    }
    
    /* Estilos para el contenedor de los mensajes */
    .chat {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: #333;
      overflow-y: auto;

    }
    
    /* Estilos para cada mensaje */
    .message {
      background-color: #f3f3f3;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
    
    /* Estilos para el nombre del usuario en cada mensaje */
    .message .title {
      font-weight: bold;
    }
    
    /* Estilos para el tiempo en cada mensaje */
    .message .time {
      font-size: 9px;
      color: #333;
    }
    
    /* Estilos para el contenedor del formulario */
    .chatForm {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: #333;
      height: 30%;
    }
    
    /* Estilos para el formulario */
    form {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
    }
    
    /* Estilos para los campos del formulario */
    input[type="text"] {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    input[name="message"] {
      height: 100px; /* Altura deseada */
      resize: vertical; /* Permitir redimensionamiento vertical */
    }
    
    /* Estilos para el botón de envío del formulario */
    .btn-send {
      padding: 10px;
      background-color: #ab63d4;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    /* Estilos para el botón de envío del formulario al pasar el ratón por encima */
    .btn-send:hover {
      background-color: #2ce4cb;;
      color: #000;
    }
    

    nav[name="paginado"] {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
     
    }
    
    #back button,
    #next button {
      background-color: #eaeaea;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
    }
    
    #back button:hover,
    #next button:hover {
      background-color: #ccc;
    }
    
    .pageBox {
      margin: 0 10px;
  
    }
    
    #page {
      font-size: 16px;
    }

    #cartButtons {
      display: flex;
      align-items: center;
      margin: auto;
  
    }


    .butttonCart {
      border:none;
      border-radius: 6px;
      background-color: #ab63d4;
      padding: 5px;
      color: #ffffff;
        }
    
        .butttonCart:hover{
          background-color: #b67fd6;
        color: #000;
        }
    
    #reduceQuantity,
    #incrementQuantity {
      color: #333;
    }

    #reduceQuantity,
    #incrementQuantity {
      color: #333;
    }
    
    #addToCart {
      margin-top: 10px;
      background-color: #55c57a;
      color: #fff;
      border: none;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 5%;
    }

    #addToCart:hover {
      margin-top: 10px;
      background-color: #3b413d;
      color: #fff;
      border: none;
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 5%;
    }

   

    .iconCart{
      width: 30px;
    }


    .boxCart{
      display: flex;
      background-color: #ffffff;
      width: 100%;
      position: absolute;
      top:10px;
    }

    .cards{
      width: 95%;
      
    }


    .adminuser{
      text-align: center;
    }


    li{
      list-style-type: none;
    }

    .cartView {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cards {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  
  .productCart {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
  }
  
  .productCart div {
      flex: 1;
  }
  
  .productCart div:not(:last-child) {
      margin-right: 10px;
  }
  
  .productCart .title {
      font-weight: bold;
      font-size: 18px;
      color: #333;
  }
  
  .productCart .price {
      color: #666;
  }
  
  .productCart .description {
      color: #999;
      font-style: italic;
  }
  
  .productCart .quantity {
      color: #666;
  }

  .titleTable{
    margin-left: 10%;
  }

  table{
    width: 90%;
    border-color: black;
    border-style: revert;
  }


  .imageCart{
    width: 35%;
   margin-left: 20%;
  }

  .deleteBtn {
    background-color: #ff0000; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Espaciado interno (vertical, horizontal) */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  }
  
  .deleteBtn:hover {
    background-color: #cc0000; /* Color de fondo cuando se pasa por encima */
  }
  
  .cardHead{
    background-color: #ab63d4;
    height: 20px;
  }

  .cardfooter{
    background-color: gainsboro;
    height: 20px;
  }

  .TitleProds{
margin: auto;
    width: 85%;
    margin-top: 10%;
    background-color:#ffffff ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1%;
    
  }
  
  .titleSection{
    text-align: center;
    padding-left: 1%;
    color: #ab63d4;
    

  }



  .notAvailable{
    margin-top: 10px;
    background-color: #f54949;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30%;
  
  }


  /*estilos login */

  #login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  #login-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  #email-label,
  #password-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

  #email,
  #password,#passwordConfirm {
    margin:auto;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }

  #login-button {
    margin:auto;
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  #login-button:hover {
    background-color: #555;
  }

  #register-link {
    text-align: center;
    color: #666;
    margin-top: 15px;
  }

  #register-link a {
    color: #333;
    text-decoration: none;
  }

  #register-link a:hover {
    text-decoration: underline;
  }

  /*estilos register */

    /* Estilos específicos para el formulario de registro */
    #register-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    #register-title {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    #name-label,
    #last-name-label,
    #first-name-label
    #email-label,
    #password-label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #333;
    }
  
    #name,
    #last-name,
    #first-name,
    #email,
    #password {
      width: 90%;
      padding: 10px;
      margin: auto;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 16px;
    }
  
    #register-button {
      width: 90%;
      padding: 10px;
      margin: auto;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
    }
  
    #register-button:hover {
      background-color: #555;
    }
  
    #register-link {
      text-align: center;
      color: #666;
      margin-top: 15px;
    }
  
    #register-link a {
      color: #333;
      text-decoration: none;
    }
  
    #register-link a:hover {
      text-decoration: underline;
    }

    /*estilos de profile */ 


    #profile-container {
      display: flex;
      align-self: flex-end;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    #profile-header {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }
    
    #profile-title {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    #username,
    #email,
    #admin {
      font-size: 18px;
      margin-bottom: 5px;
    }
    
    #profile-navigation {
      margin-top: 20px;
    }
    
    #back-button {
      text-align: center;
    }
    
    #back-button button {
      background-color: #f0f0f0;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    
    #back-button button:hover {
      background-color: #e0e0e0;
    }


    /* user profile products */ 

    #user-profile {
      display: flex;
      width: 30%;
      border-radius: 5px;
      margin-left: 70%;
      background-color: #ffffff;
      
    }
    
    #usernameProfile,
    #emailProfile,
    #adminProfile {
      font-size: 16px;
      margin: 1%;
  
    }

    #logout,#logout a{
      margin-left: 1%;
      border: none;
      background-color: #ab63d4;
      border-radius: 6px;
      color:#ffffff
    }


    #logout:hover{
      background-color: #b67fd6;
      color: #000;

    }

    .buyButton{
      background-color: #25ecaa;
      color: #ffffff;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
  }

  .buyButton:hover{
    background-color: #20c58e;
  }

  /* CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 6px;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-content li p{
  margin: auto;
}

#panelNotificacion{
  color: red;
}

#modal-flotante {
  position: fixed;
  bottom: 20px; /* Ajusta esta propiedad según tu preferencia */
  right: 20px; /* Ajusta esta propiedad según tu preferencia */
  background-color: #25D366; /* Color de fondo similar a WhatsApp */
  color: #fff; /* Color de texto */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px 15px; /* Ajusta el espaciado interno según tu preferencia */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif; /* Fuente de texto */
  height: 5%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn-chat {
  background-color: #fff; /* Color de fondo para el botón o enlace */
  color: #25D366; /* Color de texto para el botón o enlace */
  border: none; /* Sin bordes */
  padding: 5px 10px; /* Ajusta el espaciado interno según tu preferencia */
  text-decoration: none; /* Sin subrayado de enlace */
  font-size: 14px; /* Ajusta el tamaño de fuente según tu preferencia */
  font-weight: bold; /* Texto en negrita */
  margin: auto;
}
