/* Estilos generales */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  width: 20%;
  margin-bottom: 1rem;
  text-align: center;
  height: auto;
}

.product:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.product p {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #555;
}

.product p.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.product p.price {
  font-weight: bold;
  font-size: 1.3rem;
  color: #008080;
}

.product img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

form {
  width: 50%;
}

.formulario {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.formulario input {
  align-items: center;
  display: block;
}

.btn-delete {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #ff3333;
}

/* Chatbox styles */
.chatBox {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chatGeneral {
  height: 70%;
  overflow-y: auto;
  background-color: #333;
}

.chatGeneral h1 {
  margin: 0;
  padding: 10px;
  background-color: #2fc2db;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #333;
  overflow-y: auto;
}

.message {
  background-color: #f3f3f3;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message .title {
  font-weight: bold;
}

.message .time {
  font-size: 9px;
  color: #333;
}

.chatForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #333;
  height: 30%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[name="message"] {
  height: 100px;
  resize: vertical;
}

.btn-send {
  padding: 10px;
  background-color: #2fc2db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-send:hover {
  background-color: #2ce4cb;
  color: #000;
}

nav[name="paginado"] {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

#back button,
#next button {
  background-color: #eaeaea;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#back button:hover,
#next button:hover {
  background-color: #ccc;
}

.pageBox {
  margin: 0 10px;
}

#page {
  font-size: 16px;
}

#cartButtons {
  display: flex;
  align-items: center;
  margin: auto;
}

.butttonCart {
  border: none;
  border-radius: 6px;
  background-color: #2fc2db;
  padding: 5px;
  color: #ffffff;
}

.butttonCart:hover {
  background-color: #2fc2db;
  color: #000;
}

#reduceQuantity,
#incrementQuantity {
  color: #333;
}

button[type="submit"]:hover {
  background-color: #2fc2db;
}

#addToCart {
  margin-top: 10px;
  background-color: #55c57a;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5%;
}

#addToCart:hover {
  background-color: #3b413d;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.iconCart {
  width: 30px;
}

.boxCart {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: auto;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Asegura que el carrito esté siempre visible */
  padding: 5px;

}

.cards {
  width: 95%;
}

.adminuser {
  text-align: center;
}

li {
  list-style-type: none;
}

.cartView {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.productCart div {
  flex: 1;
}

.productCart div:not(:last-child) {
  margin-right: 10px;
}

.productCart .title {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.productCart .price {
  color: #666;
}

.productCart .description {
  color: #999;
  font-style: italic;
}

.productCart .quantity {
  color: #666;
}

.titleTable {
  margin-left: 10%;
}

table {
  width: 90%;
  border-color: black;
  border-style: revert;
}

.imageCart {
  width: 35%;
  margin-left: 20%;
}

.deleteBtn {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #cc0000;
}

.cardHead {
  background-color: #2fc2db;
  height: 20px;
}

.cardfooter {
  background-color: gainsboro;
  height: 20px;
  margin-top: auto;
}

.TitleProds {
  margin: auto;
  width: 85%;
  margin-top: 10%;
  background-color: #ffffff;
  border-radius: 5px;

  padding: 1rem;
  margin-bottom: 1%;
}

.titleSection {
  text-align: center;
  padding-left: 1%;
  color: #2fc2db;
}

.notAvailable {
  margin-top: 10px;
  background-color: #f54949;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30%;
}



/* Login styles */
#login {
  margin: auto;
  width: 80%;
}

#login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#login-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#email-label,
#password-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

#email-input,
#password-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

#submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #2fc2db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#submit-btn:hover {
  background-color: #1faab5;
}

#register-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #2fc2db;
  text-decoration: none;
}

#register-link:hover {
  text-decoration: underline;
}


.panelUser {
  display: flex;
  top: 50px;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
 
}

#logout {
  width: 90%;
  margin-top: 10px;
  background-color: #2fc2db;
  border: none;
  border-radius: 7px;
  margin: 1%;
}
.productCart {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

  /* CSS */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 6px;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  .modal-content li p{
    margin: auto;
  }
  
  #panelNotificacion{
    color: red;
  }
  
  #modal-flotante {
    position: fixed;
    bottom: 20px; /* Ajusta esta propiedad según tu preferencia */
    right: 20px; /* Ajusta esta propiedad según tu preferencia */
    background-color: #25D366; /* Color de fondo similar a WhatsApp */
    color: #fff; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px 15px; /* Ajusta el espaciado interno según tu preferencia */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif; /* Fuente de texto */
    height: 5%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buyButton{
    background-color: #55c57a;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    color: #ffffff;
    
  }

/* Responsive Styles */
@media only screen and (max-width: 1024px) {

  .productCart {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .product {
      width: 45%;
  }

  .formulario {
      width: 100%;
  }

  .chatBox {
      flex-direction: column;
  }

  
  .cardCartItem {
    margin: 5%;
}

  
}

@media only screen and (max-width: 768px) {
  .product {
      width: 100%;
  }

  .productCart {
    display: block;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    text-align: center;
  }

  .formulario {
      width: 100%;
  }

  .chatGeneral h1 {
      font-size: 20px;
  }

  #addToCart {
      font-size: 14px;
      padding: 10px;
  }

  h1 {
      font-size: 2rem;
  }

  .boxCart {
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    justify-content: center;
}

.panelUser {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
   
}


}

@media only screen and (max-width: 480px) {
  .product {
      width: 100%;
      height: auto;
  }

  h1 {
      font-size: 1.5rem;
  }

  .product p {
      font-size: 1rem;
  }

  .product img {
      height: 200px;
  }

  #addToCart {
      font-size: 12px;
      padding: 8px;
  }

  .btn-send {
      padding: 8px;
      font-size: 14px;
  }

  input[type="text"] {
      font-size: 14px;
      padding: 8px;
  }

  .chatGeneral h1 {
      font-size: 18px;
  }

  .formulario {
      width: 100%;
      padding: 10px;
  }
}

